/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    .root{
        background-color: honeydew ;
        
        }
    .Button{
        background-color: honeydew ;
        
        }
        .Button .label{
        background-color: sienna ;
        -fx-text-fill: honeydew; 
        
        }
}
